doctype html
html
    head
        title= title
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", crossorigin="anonymous")
        link(rel='stylesheet', href='/css/styles.css')
        link(rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32")
        link(rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16")
    body
        .container-fluid
            .row
                .col
                    h4.mt-2.mb-2.text-nowrap= title
                .col-auto
                    .btn-toolbar.mt-2.mb-2
                        .btn-group-sm
                            a.btn.btn-light(href="/cams") Feed
                            a.btn.btn-light(href="/cams/livingroom") Living Room
                            a.btn.btn-light(href="/cams/kitchen") Kitchen
                            a.btn.btn-light(href="/cams/bedroom") Bedroom
                            button#button-snapshot.btn.btn-secondary Snapshot
            block content
