doctype html
html(style="height:100%")
    head
        title Should #{name} diaf?
    body(style="height:100%; margin:0px")
        div(style="display:flex; flex-direction: column; height:100%; align-items: center; justify-content: center")
            h1(style="font-size: 70pt; font-family: sans-serif; text-align: center") Yes, #{name} should diaf