.snapshot .overlay {
  position: absolute;
  top: 4px;
  left: 4px;
  border: 7px solid rgba(37, 111, 107, 0.89);
  border-radius: 4px;
  z-index: 2;
}

.snapshot .overlay::before{
  content: 'S';
  color: white;
  top: -11px;
  position: absolute;
  left: -4px;
  font-size: 10pt;
}